<h1>Membres</h1>
<table class="tableau">
	<% let noLigne = 0 %>
	<% if(typeof ordre_url == 'undefined') {ordre_url = 'asc'} %>
		<% for(element of membres){ %>
			<% if (noLigne==0){ %>
				<tr>
					<% noLigne++ %>
					
					<th><a href=http://localhost:8081/trier/_id/<%= ordre_url %> >_id</a></th>
					<th><a href=http://localhost:8081/trier/prenom/<%= ordre_url %> >prenom</a></th>
					<th><a href=http://localhost:8081/trier/nom/<%= ordre_url %> >nom</a></th>
					<th><a href=http://localhost:8081/trier/telephone/<%= ordre_url %> >telephone</a></th>
					<th><a href=http://localhost:8081/trier/courriel/<%= ordre_url %> >courriel</a></th>
					<th></th>
					<th>
						<a href=http://localhost:8081/ajouter> Ajouter </a>
					</th>
				</tr>
			<% } %>
		<% } %>
			
		<% for (elm of membres) {%>
			<tr>
				<td><%= elm._id %></td>
				<th contenteditable><%= elm.prenom %></th>
				<th contenteditable><%= elm.nom %></th>
				<td contenteditable><%= elm.telephone %></td>
				<td contenteditable><%= elm.courriel %></td>
				<td><a href="#" class="modifier"> Enregistrer (Modifier) </a></td>
				<td><a href=http://localhost:8081/supprimer/<%= elm._id %> >Supprimer </a></td>
			</tr>
		<% } %>
</table>
<form id='mod' action="/modifier" method="POST">
	<input type="hidden" name="_id">
	<input type="hidden" name="prenom">
	<input type="hidden" name="nom">
	<input type="hidden" name="telephone">
	<input type="hidden" name="courriel">
</form>
<h1>Inscription membre</h1>
<form action="http://127.0.0.1:8081/ajouter" method="GET">
	Prénom:
	<input type="text" name="prenom">
	<br> Nom:
	<input type="text" name="nom">
	<br> Téléphone:
	<input type="text" name="telephone">
	<br> Courriel:
	<input type="text" name="courriel">
	<br>
	<input type="submit" value="Submit" class="bouton">
</form>
